*{
    margin: 0;
    padding: 0;
}

body{
    /*hides the horizontal scrollbar and content*/
    overflow-x: hidden;
    /*allows the vertical scrollbar to show while keeping track transparent*/
    overflow-y: overlay;
}

nav{
    width: 100%;
    height: 114px;
}

.user-bar{
    width: 100%;
    height: 64px;
}

.nav-bar{
    width: 100%;
    height: 50px;
    border: solid 1px #002e6d;
    background-color: #fff;
}